.w3l-about-breadcrumb {
    padding-top: 90px;
    background: var(--bg-light); 
}

.w3l-about-breadcrumb h2.title {
    font-family: 'Jost', sans-serif;
    font-size: 50px;
    font-weight: 400; 
}

.w3l-about-breadcrumb .breadcrumbs-custom-path li {
    color: var(--font-color);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize; 
}
.w3l-about-breadcrumb .breadcrumbs-custom-path li span.fa {
    font-size: 12px;
    vertical-align: 2px; 
}

.w3l-aboutblock1{
  background-color: var(--bg-color);
}

.w3l-aboutblock1 ul.social li {
    display: inline-block;
    margin-left: 6px; 
}
  
.w3l-aboutblock1 ul.social li a {
    color: #aaa;
    width: 32px;
    display: block;
    text-align: center; 
}
  
.w3l-aboutblock1 ul.social li a span.fab {
    font-size: 22px;
    line-height: 32px; 
}
  
.w3l-aboutblock1 ul.social li a:hover {
    color: #8e43e7; 
}
  
.w3l-aboutblock1 ul.social:before {
    background-color: #999;
    content: '';
    height: 2px;
    margin-right: 10px;
    width: 60px;
    display: inline-block;
    vertical-align: middle; 
}
  
.w3l-aboutblock1 .my-social {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 50px; 
}

.my-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 30px; }
  
.single-info p {
    display: inline-block; 
}
  
.single-info span {
    color: var(--heading-color);
    font-weight: 400;
    margin-right: 10px;
    font-weight: 600;
    font-size: 1.2em;
    min-width: 60px; 
}

.about_resume {
  background-color:var(--bg-light);
}

.feature-gird{
    text-align: center;
    display: flex;
    justify-content: center;
}

.features-w3pvt-main h4 a {
    margin-left: 5px;
    font-size: 27px;
    line-height: 34px;
    color: var(--heading-color);
    font-weight: 400;
    display: inline-block;
    margin-bottom: 10px; 
}
  
  .features-w3pvt-main span.fa, .far {
    font-size: 2em;
    margin-top: 5px;
    color: #8e43e7; }
  
  .features-w3pvt-main .features-hny-inner-gd:hover span {
    color: #273c66;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out; }

  .w3l-content-6{
    background-color: var(--bg-color);
  }
  
  @media only screen and (max-width: 480px) {
    .features-w3pvt-main h4 a {
      font-size: 24px; } }

      .w3l-content-6 .progress {
        display: flex;
        height: 0.5em;
        overflow: hidden;
        font-size: 0.75rem;
        background-color:var(--bg-light);
        border-radius: 0.25rem; }
      
      .w3l-content-6 h3 {
        text-align: left; }
      
      .w3l-content-6 .progress-info {
        margin-bottom: 30px;
        text-align: left; }
      
      .w3l-content-6 .progress-bar {
        background-color: var(--primary-color);
        transition: width 0.6s ease; }
      
      .w3l-content-6 .progress-bar-striped {
        background-image: none;
        background-size: 1rem 1rem; }
      
      .w3l-content-6 h6.progress-tittle {
        font-size: 1.2em;
        color: var(--heading-color);
        margin-bottom: 10px;
        font-weight: 500; }


@media (max-width: 790px) {
    .w3l-aboutblock1 ul.social:before{
        display: none;
    }
}