html{
    scroll-behavior: smooth;
}

.home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typed-text{
    position: relative;
    margin-left: 10px;
}

.typed-text::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 100%;
    border-right: 3px solid var(--heading-color);
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.Intro{
    padding-top: 205px;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-light);
    color: #3f3a64;
    font-family: 'Jost', sans-serif;
}

.title-small{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #8c89a2;
}

h1 span{
    font-weight: 100;
}

.title{
    color: var(--heading-color);
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
}

.about{
    background-color: var(--bg-color);
    font-family: 'Jost', sans-serif;
    padding-bottom: 60px;
    padding-top: 60px;
    width: 100%;
    height: auto;
}

.about-container{
    background-color: var(--bg-color);
}

.container{
    width: 100%;
}

.title-big{
    color: var(--heading-color);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}

p{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
    font-family: 'Jost', sans-serif;
}

.my-resume{
    background-color: var(--bg-light);
    font-family: 'Jost', sans-serif;
    width: 100%;
    height: auto;
}

/* .owl-carousel.owl-drag .owl-item {

} */
.services{
    background-color: var(--bg-color);
    width: 100%;
}

.project-details{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--bg-light);
    font-family: 'Jost', sans-serif;
    width: 100%;
    height: auto;
    /* padding: 65px; */
}

.stats_info {
    text-align: center;
    padding: 0;
    border-top: none;
    border-bottom: none;
    float: left;
    margin-bottom: 140px;
}

.stats_info img{
    font-size: 2.5em;
    color: var(--primary-color);
    margin: 0;
}

.stats_info p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 30px;
    margin-bottom: 0;
}

.stats_info h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: var(--font-color);
    margin-top: 10px;
}

.section-width{
    /* padding-top: 50px; */
    padding: 60px;
}

.projects{
    padding-top: 30px;
}  

.get-in-touch{
    background-color: var(--bg-color);
}

@media (max-width:790px) {
    .title{
        font-size: 40px;
    }
    .title-big{
        font-size: 30px;
    }
    .section-width{
        padding: 10px;
    }
}