.header{
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    box-sizing: border-box;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    z-index: 100;
    position: fixed;
    width: 100%;
}

.header__logo a{
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--primary-color);
    text-decoration: none;
}

.header__laptopIcon{
    display: inline-block;
    width: 45px;
    margin-right: 7px;
}

.header__option .header__nav nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.header__option, .header__items {
    align-items: center;
    display: flex;
}

.header__option .header__items .mode,
.header__option .header__items .menu-toggle-container
{
    margin-left: 25px;
}

.header__option .header__nav nav ul li{
    list-style: none;
}

.header__option .header__nav nav ul a{
    color: var(--font-color);
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.header__option .header__nav nav ul .active{
    color: var(--primary-color);
    border-bottom: solid 1px var(--primary-color);
}

.header__option .header__nav nav ul .nav_option:hover{
    color: var(--primary-color);
    border-bottom: solid 1px var(--primary-color);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.moon-icon,.moon-icon:hover{
    width: 28px;
}

.menu-toggle-container{
    display: none;
    padding-top: 4px;
    width: 40px;
    height: 38px;
    background-color: var(--primary-color);
    border-radius: 8px;
}

.menu-toggle{
    text-align: center;
    cursor: pointer;
}

.menu-toggle img{
    width: 23px;
}

@media (max-width: 900px){
    .menu-toggle-container{
        display: block;
    }

    .header__option .header__nav nav{
        border-top: solid 1px lightgrey;
        position: absolute;
        width: 100%;
        height: auto;
        background-color: #fff;
        top: 93px;
        left: 0;
        transition: 0.5s;
    }

    .header__option .header__nav .active{
        left: 0;
    }

    .header__option .header__nav .notactive{
        left: -100%;
    }
    
    .header__option .header__nav nav ul{
        display: block;
        margin-bottom: 10px;
    }
    
    .header__option .header__nav nav ul li a{
        justify-content: center;
    }
    .header__option .header__nav nav ul .nav_option:hover{
        border-bottom: none;
    }
}

.theme-switch {
    cursor: pointer;
    display: flex;
    position: relative;
    width: 35px;
    margin: 0; 
    align-items: center;
}
  
  .theme-switch input {
    display: none; }

    .gg-sun {
        color: var(--font-color);
        position: relative;
        transform: scale(var(--ggs, 1));
        height: 24px;
        background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
        border-radius: 100px;
        box-shadow: inset 0 0 0 2px;
        border: 6px solid transparent; }
      
      .gg-moon {
        color: var(--font-color);
        overflow: hidden;
        position: relative;
        transform: rotate(-135deg) scale(var(--ggs, 1));
        width: 20px;
        height: 20px;
        border: 2px solid;
        border-bottom: 2px solid transparent; }
      
      .gg-moon,
      .gg-moon:after {
        display: block;
        box-sizing: border-box;
        border-radius: 50%; }
      
      .gg-moon:after {
        content: "";
        position: absolute;
        width: 12px;
        height: 18px;
        border: 2px solid transparent;
        box-shadow: 0 0 0 2px;
        top: 8px;
        left: 2px; }
      
      .gg-sun,
      .gg-sun:after,
      .gg-sun:before {
        box-sizing: border-box;
        display: block;
        width: 24px; }
      
      .gg-sun:after,
      .gg-sun:before {
        content: "";
        position: absolute;
        height: 2px;
        border-right: 4px solid;
        border-left: 4px solid;
        left: -6px;
        top: 5px; }
      
      .gg-sun:before {
        transform: rotate(-45deg); }
      
      .gg-sun:after {
        transform: rotate(45deg); }
      
      .mode-container i.gg-sun {
        display: none; }
      
      .mode-container i.gg-moon {
        display: block; }