.home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.typed-text{
    position: relative;
    margin-left: 10px;
}

.typed-text::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 100%;
    border-right: 3px solid black;
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.Intro{
    padding-top: 165px;
    width: 100%;
    height: 100vh;
    background-color: rgba(147, 107, 232, 0.05);
    color: #3f3a64;
    font-family: 'Jost', sans-serif;
}

.title-small{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #8c89a2;
}

h1 span{
    font-weight: 100;
}

.title{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
}

.btn-style{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
}

.btn-primary{
    color: #fff;
    background-color: #8e43e7;
    border-color: #8e43e7;
}

.btn-primary:hover{
    background-color: #6e1fce;
}

@media (max-width:790px) {
    .title{
        font-size: 40px;
    }
}

.about{
    background-color: #fff;
    font-family: 'Jost', sans-serif;
    padding: 60px;
    padding-top: 80px;
    width: 100%;
    height: auto;
}

.fluid-container{
    width: 100%;
}

.title-big{
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}

p{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-family: 'Jost', sans-serif;
}

.my-resume{
    background-color: rgba(147, 107, 232, 0.05);
    font-family: 'Jost', sans-serif;
    width: 100%;
    height: auto;
}