:root {
    --primary-color: #8e43e7;
    --secondary-color: #273c66;
    --font-color: #696969;
    --bg-color: #fff;
    --heading-color: #3f3a64;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #ddd;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64; 
}

[data-theme="dark"]{
    --primary-color: #8e43e7;
    --secondary-color: #273c66;
    --font-color: #afafaf;
    --bg-color: #0b0d0e;
    --heading-color: #ddd;
    --border-color: #333;
    --border-light: #444;
    --nav-color: #fff;
    --bg-light: #131617;
    --dropdown-color: #191c1d;
    --iframe-filter: grayscale(100%);
    --widget-bg: #131617;
}

.btn-style{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #8e43e7;
    border-color: #8e43e7; 
}

.btn-primary:hover {
    color: #fff;
    background-color: #7a21e3;
    border-color: #731cdb;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #7a21e3;
    border-color: #731cdb;
    box-shadow: 0 0 0 0.2rem rgba(159, 95, 235, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #8e43e7;
    border-color: #8e43e7; 
}

.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #731cdb;
    border-color: #6d1bd0; 
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(159, 95, 235, 0.5); 
}

.btn-outline-primary {
    color: #8e43e7;
    border-color: #8e43e7; 
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #8e43e7;
    border-color: #8e43e7; 
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(142, 67, 231, 0.5); 
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #8e43e7;
    background-color: transparent; 
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #8e43e7;
    border-color: #8e43e7; 
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(142, 67, 231, 0.5); 
} 

a {
    color: #8e43e7;
    background-color: transparent;
}

a:hover {
    color: #6919ca;
    text-decoration: none;
}

